<div class="menu-container">
  <div class="menu-item">
    <h2 class="menu-item__heading">Item 1</h2>
    <div class="menu-item__stats">3.1 stars</div>
    <div class="menu-item__image">
      <img src="lasagna.jpeg" alt="lasagna">
    </div>
  </div>
  <div class="menu-item">
    <h2 class="menu-item__heading">Item 2</h2>
    <div class="menu-item__stats">3.7 stars</div>
    <div class="menu-item__image">
      <img src="pork-chops.jpeg" alt="lasagna">
    </div>
  </div>
  <div class="menu-item">
    <h2 class="menu-item__heading">Item 3</h2>
    <div class="menu-item__stats">5 stars</div>
    <div class="menu-item__image">
      <img src="candy-apples.jpeg" alt="lasagna">
    </div>
  </div>
  <div class="menu-item">
    <h2 class="menu-item__heading">Item 4</h2>
    <div class="menu-item__stats">4 stars</div>
    <div class="menu-item__image">
      <img src="chicken-lollipops.jpeg" alt="lasagna">
    </div>
  </div>
</div>

{{outlet}}
